

/* 
This is a brief guide on programming with CSS as a team.
We will find ourself doing the same thing over and over again,
and so you may refer to this guide for consistency. 
This is made with CSS modules in mind


Note: I would not force my habits onto others, please view 
this as a guide for others and myself. 

*/


/* 
NAMING --------------------------------------------------------
*/

/* All class names will be kebab-case */
.show-video-btn{}

/* Keep related attributes together */
.example1{
    border: 3px solid red;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    margin: 10px 10px;
    padding: 5px 5px;
    width: 20px;
    height: 20px;
}

/* Keep attributes relating to children at the bottom */
.example2{
    width: 30px;
    opacity: .5;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Keep children close to parents */
/* 
IMPORTANT: This does not apply to major partitions.
Otherwise, the entire css script could be placed in a single block.
*/
.parent{
    width: 300px;
    font-size: 1.8rem;
    color: red;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Also keep pseudo classes within */
    &:hover{
        opacity: .7;
        filter: invert();
    }

    & .specific-child{
        font-size: 1.2rem;
    }

    & > button{
        border-radius: 5px;
        color: red;
    }
}
