DB_USERNAME = #default for local is 'postgres'
DB_PASSWORD = #whatever you set it...
DB_HOST =  #local is 'localhost'
DB_PORT = #default for postgres is '5432'
DB_NAME = #it is recommended you create a db called 'omretest' or something

PORT = #5001 is good enough


# DOCKER ONLY
POSTGRES_USER= #should match DB_USERNAME
POSTGRES_PASSWORD= #should match DB_PASSWORD
POSTGRES_DB= #should match DB_DATABASE