
#default for local is 'postgres'
DB_USERNAME = 
#whatever you set it...
DB_PASSWORD = 
#local is 'localhost'
DB_HOST =  
#default for postgres is '5432'
DB_PORT =  
 #it is recommended you create a db called 'omretest' or something
DB_NAME = 


BUCKET_NAME = omre-product-images
CLOUDFRONT_DOMAIN = https://d5u12uf28k3zi.cloudfront.net
S3_SECRET_ACCESS_KEY = 
S3_ACCESS_KEY_ID =

COGNITO_POOL_ID = 
COGNITO_CLIENT_ID = 

#5001 is good enough
PORT = 
 
# disable if you want to debug quickly and not have to deal with tokens
USE_ACCESS_TOKENS = true

# DOCKER ONLY
 #should match DB_USERNAME
POSTGRES_USER =
#should match DB_PASSWORD
POSTGRES_PASSWORD= 
#should match DB_NAME
POSTGRES_DB =