/* Navbar contain
er styling and customization */
.navbar {
    box-sizing: border-box;
    width: 100%; 
    height: 64px;
    padding: 0 2rem;
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo image styling for the size */
.logo-image {
    margin-top: 8px;
    height: 50px;
    width: 65px;
}

/* Navigation links styling and spacing */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

/* Nav link item styling, each link will have this specific styling in the navbar for login*/
.nav-item {
    color: #b07a63;
    font-size: 0.95rem;
    opacity: 0.95;
}

/* This is for the navbar links and changes the color */
.navbar a {
  color: #b07a63;
}

.navbar a:hover {
  color: #d1a88f;
}
