.rating{
    &:hover{
        transform: scale(1.02);
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.526);
    }
}
.ratingOverlay{
    pointer-events: none;
    position: absolute;
    inset: -200%;
    filter: blur(1px);
    background: conic-gradient(rgba(255, 0, 0, 0.08), rgba(255, 255, 255, 0.233), rgba(128, 128, 128, 0.06));
    animation: spin 2s linear infinite;

    &:hover{
        animation: none;
    }
}

.respondable{
    & .more_options{
        display: none;
    }
    &:hover{
        background-color: rgba(148, 148, 148, 0.124);
        & .more_options{
            display: flex;
        }
    }
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}