:root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;   
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background:
    /* Linear gradient similar to Omre original home page colors going downward */
    linear-gradient(
      180deg,
      #f3e6dc 0%,   
      #e0bfae 22%,   
      #b07a63 45%,   
      #6b2e22 70%,   
      #3b1a12 100%
    );
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
